.Product {
    width: 150px;
    background-color: #2CA1C4;
    border: 3px solid black;
    border-radius: 5px;
    display: inline-block;
    margin: 15px;
    font-weight: 500;
    margin-top: 130px; 
}

.BuyButton {
    margin-bottom: 5px;
    border-radius: 3px;
    border: 1px solid black;
    cursor: pointer;
}

.CrossedPrice {
    text-decoration: line-through;
    color: red;
    margin-right: 15px;
}

.NewPrice {
    color: #20FB22;
}

.ProductName {
    font-size: 20px;
}